
/********** GLOBAL **************/

body {
	font-family: Seravek, 'Nunito', sans-serif;
	color: #FAF3BC;
	background: #52BAF2;
}

a {
	color: #F2ED52;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

/*********** TYPOGRAPHY *************/

p {
	font-size: 1.400em;
}


h1 {
	font-family: Avenir;
	font-size: 52px;
	font-weight: normal;
}

h2 {
	font-size: 1.800em;
	font-weight: normal;
}

h3 {
	font-family: Cochin, sans-serif;
	font-size: 2.00em;
	color: #F2ED52;
}

/************* HEADER *************/

#header {
	/*border-bottom: 1px solid black;*/
	padding-bottom: 10px;
	/*text-align: center;*/
}

#title_name {
	color: #F2ED52;
	margin: 20px 0 0 40px;
}

ul.nav {
	margin: 130px 0 0 0;
	list-style: none;
	font-family: Cochin;
	font-size: 1.800em;
	font-weight: bold;
	color: #F2ED52;
}

ul.nav li {
	float:left;
	margin-right: 70px;
}

#cohort_logo {
	margin-top: 70px;
}

#profile_pic{
	margin-top: 20px;
}

/************* CONTENT *************/

#intro {
	margin-top: 20px;
}

#intro_pic {
	margin-top: 20px;
}

#tidbit-quirky img {
	border: 8px solid #FAF3BC;
	margin: 0 0 20px 0;
}

#tidbit-love img {
	border: 8px solid #FAF3BC;
}








