body {
	font-family: Seravek, 'Nunito', sans-serif;
	color: #FAF3BC;
	background: #52BAF2;
}

a {
	color: #52F25D;
	text-decoration: none;
}

p {
	font-size: 1.300em;
}

h1 {
	font-size: 1.600em;
	font-weight: normal;
}

h2 {
	font-family: Cochin, sans-serif;
	font-size: 1.800em;
	color: #F2ED52;
}

ul.info {
	margin: 40px 0 0 0;
	list-style: none;
	font-family: Cochin;
	font-size: 1.600em;
	font-weight: bold;
	color: #F2ED52;
}

ul.info li {
	margin-right: 40px;
}

#logo {
	margin-top: 20px;
}

#intro_pic {
	margin-top: 20px;
}

#tidbit-quirky img {
	border: 8px solid #FAF3BC;
	margin: 0 0 20px 0;
}

#tidbit-love img {
	border: 8px solid #FAF3BC;
}








