
/********** GLOBAL **************/

body {
	font-family: Seravek, 'Nunito', sans-serif;
	color: #FAF3BC;
	background: #52BAF2;
}

a {
	color: #F2ED52;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

img {
	max-width: 100%;
}

/*********** TYPOGRAPHY *************/

p {
	font-size: 1.500em; /*24px*/
}


h1 {
	font-family: Avenir;
	font-size: 3.25em; /*52px*/
	font-weight: normal;
}

h2 {
	font-size: 1.75em; /*28px*/
	font-weight: normal;
}

h3 {
	font-family: Cochin, sans-serif;
	font-size: 2.00em; /*32px*/
	color: #F2ED52;
}

/************* HEADER *************/

#header {
	padding-bottom: 1%; /*10px*/
}

#title_name {
	color: #F2ED52;
	margin: 3.48% 0 0 6.96%; /*20px 0 0 40px*/
}

ul.nav {
	margin: 22.61% 0 0 0; /*130px 0 0 0*/
	list-style: none;
	font-family: Cochin;
	font-size: 1.800em;
	font-weight: bold;
	color: #F2ED52;
}

ul.nav li {
	float:left;
	margin-right: 10.435%; /*60px*/
}

#cohort_logo {
	margin-top: 7%; /*70px*/
}

#profile_pic{
	margin-top: 2%; /*20px*/
}

/************* CONTENT *************/

#intro {
	margin-top: 2%; /*20px*/
}

#intro_pic {
	margin-top: 2%; /*20px*/
}

#tidbit-quirky {
	box-sizing: border-box;
	float: right;
}

#tidbit-love {
	box-sizing: border-box;
}

#tidbit-quirky img {
	border: 8px solid #FAF3BC; /*8px = 1.975%*/
	box-sizing: border-box;
	margin-bottom: 4.938%; /*20px*/
	width: 100%;
}

#tidbit-love img {
	border: 8px solid #FAF3BC; /*8px = 1.633%*/
	/*margin: 0 20px 20px 0;*/
	box-sizing: border-box;
}








